<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>test.StudentTest</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>deleteStudents</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>getStudents</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>postStudentsSet</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>postStudents</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>postStudentsSemBody</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>getStudentsIdInvalido</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>updateStudents</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>init</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
