<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>firstSuite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="6ab965">  <td>19/10/29 12:00:16</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BasicTest.init()[pri:0, instance:test.StudentTest@30b8a058]">&gt;&gt;init</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1253946629</td>   <td></td> </tr>
<tr bgcolor="686d7f">  <td>19/10/29 12:00:17</td>   <td>418</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="StudentTest.postStudents()[pri:0, instance:test.StudentTest@30b8a058]">postStudents</td> 
  <td>main@1253946629</td>   <td></td> </tr>
<tr bgcolor="686d7f">  <td>19/10/29 12:00:19</td>   <td>2889</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="StudentTest.postStudentsSemBody()[pri:0, instance:test.StudentTest@30b8a058]">postStudentsSemBody</td> 
  <td>main@1253946629</td>   <td></td> </tr>
<tr bgcolor="686d7f">  <td>19/10/29 12:00:19</td>   <td>2934</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="StudentTest.getStudents()[pri:1, instance:test.StudentTest@30b8a058]">getStudents</td> 
  <td>main@1253946629</td>   <td></td> </tr>
<tr bgcolor="686d7f">  <td>19/10/29 12:00:19</td>   <td>3015</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="StudentTest.getStudentsIdInvalido()[pri:1, instance:test.StudentTest@30b8a058]">getStudentsIdInvalido</td> 
  <td>main@1253946629</td>   <td></td> </tr>
<tr bgcolor="686d7f">  <td>19/10/29 12:00:19</td>   <td>3074</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="StudentTest.postStudentsSet(model.Student)[pri:3, instance:test.StudentTest@30b8a058]">postStudentsSet</td> 
  <td>main@1253946629</td>   <td></td> </tr>
<tr bgcolor="686d7f">  <td>19/10/29 12:00:20</td>   <td>3135</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="StudentTest.postStudentsSet(model.Student)[pri:3, instance:test.StudentTest@30b8a058]">postStudentsSet</td> 
  <td>main@1253946629</td>   <td></td> </tr>
<tr bgcolor="686d7f">  <td>19/10/29 12:00:20</td>   <td>3184</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="StudentTest.postStudentsSet(model.Student)[pri:3, instance:test.StudentTest@30b8a058]">postStudentsSet</td> 
  <td>main@1253946629</td>   <td></td> </tr>
<tr bgcolor="686d7f">  <td>19/10/29 12:00:20</td>   <td>3246</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="StudentTest.postStudentsSet(model.Student)[pri:3, instance:test.StudentTest@30b8a058]">postStudentsSet</td> 
  <td>main@1253946629</td>   <td></td> </tr>
<tr bgcolor="686d7f">  <td>19/10/29 12:00:20</td>   <td>3302</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="StudentTest.postStudentsSet(model.Student)[pri:3, instance:test.StudentTest@30b8a058]">postStudentsSet</td> 
  <td>main@1253946629</td>   <td></td> </tr>
<tr bgcolor="686d7f">  <td>19/10/29 12:00:20</td>   <td>3354</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="StudentTest.postStudentsSet(model.Student)[pri:3, instance:test.StudentTest@30b8a058]">postStudentsSet</td> 
  <td>main@1253946629</td>   <td></td> </tr>
<tr bgcolor="686d7f">  <td>19/10/29 12:00:20</td>   <td>3408</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="StudentTest.postStudentsSet(model.Student)[pri:3, instance:test.StudentTest@30b8a058]">postStudentsSet</td> 
  <td>main@1253946629</td>   <td></td> </tr>
<tr bgcolor="686d7f">  <td>19/10/29 12:00:20</td>   <td>3472</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="StudentTest.postStudentsSet(model.Student)[pri:3, instance:test.StudentTest@30b8a058]">postStudentsSet</td> 
  <td>main@1253946629</td>   <td></td> </tr>
<tr bgcolor="686d7f">  <td>19/10/29 12:00:20</td>   <td>3513</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="StudentTest.postStudentsSet(model.Student)[pri:3, instance:test.StudentTest@30b8a058]">postStudentsSet</td> 
  <td>main@1253946629</td>   <td></td> </tr>
<tr bgcolor="686d7f">  <td>19/10/29 12:00:20</td>   <td>3577</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="StudentTest.updateStudents()[pri:20, instance:test.StudentTest@30b8a058]">updateStudents</td> 
  <td>main@1253946629</td>   <td></td> </tr>
<tr bgcolor="686d7f">  <td>19/10/29 12:00:20</td>   <td>3655</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="StudentTest.deleteStudents()[pri:25, instance:test.StudentTest@30b8a058]">deleteStudents</td> 
  <td>main@1253946629</td>   <td></td> </tr>
</table>
